h1{
    text-align: center;
}
p{
    text-align: center;
    font-size:larger;
    color:000000;
}
body {
    margin: 0px;
}
.container {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center
}
.centralizar {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.teste{
    padding-top: 3%;
}