body {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
}

.container {
   height: 500px;
   width: 500px;
   display: grid;
   grid-template-areas: 
   "a a a a    a a a a   a a a a"
   "b b b b    b b b b   e e e e"
   "c c c c    d d d d   e e e e"
   ;

   grid-gap: 10px;
}

.box-1 {
   grid-area: a;
   background-color: aqua;
}
.box-2 {
   grid-area: b;
   background-color: aqua;
}
.box-3 {
   grid-area: c;
   background-color: aqua;
}
.box-4 {
   grid-area: d;
   background-color: aqua;
}
.box-5 {
   grid-area: e;
   background-color: aqua;
}
