@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Tilt+Prism&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    font: normal 1em Arial, Verdana, serif;
    background-image: linear-gradient(to top,#ffffff,#76bed0);

}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #485677be;
    width: 60%;
    padding: 10px;
    margin: auto;
    height: 620px;
}
h1{
    font: normal 3em 'Tilt Prism',serif;
    text-align: center;
}
h2{
    font: normal 2em serif;
    text-indent: 20px;
    text-shadow: 1px 1px 3px #40581f;
}
p{
    text-align: justify;
    text-indent: 30px;
    font-family: 'Roboto Condensed', sans-serif;
}