@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}
body{
    background-image: linear-gradient(to right,#AAECFC,#88A3E2);
}

main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #485677be;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #FC8DCA;
    text-align: center;
    text-shadow: 1px 1px 2px #693d55c5;
}
h2{
    color: #C37EDB;
}
p{
    text-align: justify;
}