body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

main {
    padding: 50px;
    margin-top: -50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

main h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

main p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

footer {
    background-image: url('fundofinal.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    padding: 350px 0;
    margin-top: auto;
}
footer p{
    background-color: rgba(0, 0, 0, 0.61);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40vw;
    margin-right: 40vw;
}
@media (max-width: 768px) {
    body {
      background-image: url('background-responsivo.jpg');
    }
  
    footer {
      background-image: url('fundofinal-responsivo.jpg');
    }
  }
  